# PD2 MLOps — Instituto Infnet
# Dependências do projeto: Previsão de Alzheimer com MLOps
# Python >= 3.9

# Core ML
scikit-learn>=1.4.0
numpy>=1.26.0
pandas>=2.1.0
scipy>=1.12.0
joblib>=1.3.0

# MLflow (rastreamento de experimentos)
mlflow>=2.10.0

# Streamlit (interface de inferência)
streamlit>=1.32.0
